<a href="https://colab.research.google.com/github/AnnJungChan/algorithm/blob/main/Python_basic_test/python_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

리스트 [1,2,3,4,5]의 모든 원소의 합을 반환하라.

7,3,5,2중 가장 작은 값을 반환하라.

7,3,5,2 중 가장 큰 값을 반환하라.

문자형 수식 \\
"(3+5)*7" \\
을 계산하라.

[9,1,8,5,4]에 대해서
- 오름차순 정렬하라
- 내림차순 정렬하라

[('홍길동',35),('이순신',75),('아무개',50)] \\
에 대해서 숫자를 기준으로 내림차순으로 정렬하라.

[9,1,8,5,4]에 대해서 \\
리스트 안의 내장함수로 오름차순 정렬하라.

A, B, C에서 3개를 뽑아 순서를 고려하여 나열하는 모든 경우의 수

A, B, C에서 2개를 뽑아 순서를 고려하지 않고 나열하는 모든 경우의 수

A, B, C에서 순서를 고려하여 원소를 중복하여 2개를 뽑아서 나열하는 모든 경우의 수

A, B, C에서 순서를 고려하지 않고 원소를 중복하여 2개를 뽑아서 나열하는 모든 경우의 수

힙정렬을 구현하고 \\
힙 정렬을 통해 [1,3,5,7,9,2,4,6,8,0]을 오름차순 정렬하라.

힙 정렬을 통해 [1,3,5,7,9,2,4,6,8,0]을 내림차순 정렬하라.

리스트 [1,2,4,4,8]에 새로운 숫자 4가 들어간다고 하자. \\
이 때, 4는 어디에 들어가야 리스트가 정렬된 순서를 유지하는가? \\
오른쪽과 왼쪽에서 접근했을 때, 모두 확인해보라.

리스트 [1,2,3,3,3,3,4,4,8,9] 에서 \\
1. 값이 4인 데이터의 갯수를 출력하고
2. 값이 -1,3 범위에 있는 데이터의 갯수를 출력하라
<br>
단, 이를 함수로 구현하라.

리스트 [2,3,4]에 대해서
1. 가장 앞쪽에 1을 삽입하라
2. 가장 뒤에 5를 삽입하라
3. 가장 앞쪽 원소를 제거하라
4. 가장 뒤에 원소를 제거하라
<br>
각 절차마다 print() 할 것(이 때, list 형태의 output이 필요하다.)

리스트 ['red','blue','red','green', 'blue', 'blue'] 에 대해서, \\
1. blue는 몇번 등장했는가?
2. greeen은 몇번 등장했는가?
3. 각각의 등장 횟수를 사전의 형태로 만들어라

5!을 출력하라

7의 제곱근을 출력하라

21과 14의 최대공약수는?

pi와 자연상수 e를 출력하라