<a href="https://colab.research.google.com/github/AnnJungChan/algorithm/blob/main/Python_basic_test/python_input_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터가 아래와 같이 주어져있다. \\
<br>
5 \\
65 90 75 65 34
<br>
입출력하라.

데이터가 아래와 같이 주어져있다. \\
<br>
3 5 7
<br>
입출력을 실시하고, 3을 n, 5를 m, 7을 k에 할당시켜라

Hello World \\
를 입출력하라.

a = 1 \\
b = 2 \\
를 한줄에 출력하라

a = 1 \\
b = 2 \\
를 값 하나당 한 줄로 2줄에 출력하라.

아래 코드는 오류가 발생한다.

In [ ]:
answer = 7

print("정답은" + answer + "입니다.")

TypeError: ignored

왜 오류가 발생하는가? \\
정확한 코드로 고쳐라. \\
이 때, 방법은 4가지이다.