<a href="https://colab.research.google.com/github/AnnJungChan/algorithm/blob/main/Python_basic_test/trial_1/python_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[('홍길동',35),('이순신',75),('아무개',50)] \\
에 대해서 숫자를 기준으로 내림차순으로 정렬하라.

A, B, C에서 3개를 뽑아 순서를 고려하여 나열하는 모든 경우의 수

A, B, C에서 2개를 뽑아 순서를 고려하지 않고 나열하는 모든 경우의 수

A, B, C에서 순서를 고려하여 원소를 중복하여 2개를 뽑아서 나열하는 모든 경우의 수

A, B, C에서 순서를 고려하지 않고 원소를 중복하여 2개를 뽑아서 나열하는 모든 경우의 수

힙정렬을 구현하고 \\
힙 정렬을 통해 [1,3,5,7,9,2,4,6,8,0]을 오름차순 정렬하라.

힙 정렬을 통해 [1,3,5,7,9,2,4,6,8,0]을 내림차순 정렬하라.

리스트 [2,3,4]에 대해서
1. 가장 앞쪽에 1을 삽입하라
2. 가장 뒤에 5를 삽입하라
3. 가장 앞쪽 원소를 제거하라
4. 가장 뒤에 원소를 제거하라
<br>
각 절차마다 print() 할 것(이 때, list 형태의 output이 필요하다.)

리스트 ['red','blue','red','green', 'blue', 'blue'] 에 대해서, \\
1. blue는 몇번 등장했는가?
2. greeen은 몇번 등장했는가?
3. 각각의 등장 횟수를 사전의 형태로 만들어라