<a href="https://colab.research.google.com/github/AnnJungChan/algorithm/blob/main/Python_basic_test/trial_1/python_type_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

크기가 N이고, 모든 값이 0인 1차원 리스트로 초기화

리스트 컴프리핸션을 이용하여 0부터 19까지의 수 중 홀수만 포함하는 리스트를 작성

일반적인 반복문을 이용하여 0부터 19까지의 수 중 홀수만 포함하는 리스트를 작성

리스트 컴프리핸션을 이용하여 0부터 9까지의 수의 제곱 값을 포함하는 리스트

3 * 4 크기의 2차원 리스트 초기화

1부터 9까지 모두 출력하라

In [50]:
a = [1,4,3]
print("기본리스트 : ", a)

기본리스트 :  [1, 4, 3]

인덱스 2에 3을 추가하라

값이 3인 데이터의 갯수는?

값이 1인 데이터를 삭제하라

In [38]:
a = [1,2,3,4,5,5,5]
print("기본리스트 : ", a)

기본리스트 :  [1, 2, 3, 4, 5, 5, 5]

리스트 a에서 3과 5를 제거하라

튜플은 선언한 값을 바꿀 수 없으므로 오류가 발생

사전을 만드시오

![image.png]()

data는 사과를 키로가지는 데이터가 존재하는가?

키만 뽑아라

값들만 뽑아라

각 키에 대한 값을 하나씩 뽑아라

기본 데이터 셋

In [102]:
data = set([1,2,3])
print(data)

{1, 2, 3}

4를 추가하라

5,6을 추가하라

3을 삭제하라