<a href="https://colab.research.google.com/github/AnnJungChan/algorithm/blob/main/Python_basic/python_repeat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복문

# while 문

- 조건문이 참일 때 한해서, 반복적으로 코드가 수행됨
- while과 i, result로 구성
- i, result는 초기값을 지정하고 반복문을 구현
- if아 같이 올 때는 result 앞에 if가 옴

1부터 9까지 각 정수의 합을 계산하라

In [4]:
i = 1
result = 0

while i <= 9 :
    result += i
    i += 1

print(result)

45

1부터 9까지의 수 중에서 홀수만 더하라

In [8]:
i = 1
result = 0

while i<=9 :
    if i % 2 == 1 :
        result += i
    i += 1 

print(result)

25

# for 문

- for 변수 in 리스트 : 실행할 소스코드
- range(시작값, 끝값 +1)
- range에 하나의 값만 넣으면 자동으로 시작값은 0이 됨
 - 주로 리스트나 튜플 데이터의 모든 원소를 첫번째 인덱스부터 방문해야 할 때 이 방법을 사용
 - 리스트나 튜플을 0부터 시작
- 얼마든지 중복해서 사용가능함


# continue

- 반복문 안에서 continue를 만나면, 프로그램의 흐름은 "*반복문의 처음*" 으로 돌아간다.
- 블랙리스트 문제에서 사용할 수 있다. (이 때, 블랙리스트는 집합형으로 만들어서 중복을 제거시키는 것이 좋음)

1부터 9까지 모든 값을 더하라

In [11]:
result = 0
for i in range(1,10) :
    result += i
    i += 1
print(result)

45

score = [90,85,77,65,97] \\
80점 이상이면 합격이다. \\
학생의 합격여부를 학생의 번호로 출력하라 \\
(번호는 앞에서부터 1번이다)

In [12]:
score = [90,85,77,65,97]

for i in range(5) :
    if score[i] >= 80 :
        print(i + 1 ,"번 학생은 합격입니다.")

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.

score = [90,85,77,65,97] \\
컨닝을 한 학생 : 2번, 4번 \\
80점 이상이면 합격이다. \\
컨닝한 사람을 제외하고 합격한 학생의 번호를 출력하라.

In [13]:
score = [90,85,77,65,97]
cheating_list = {2,4}

for i in range(5) :
  if i+1 in cheating_list :
    continue
  if score[i] >= 80 :
    print(i+1,"번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

구구단 2단부터 9단까지의 모든 결과를 출력하라.

In [18]:
for i in range(2,10) :
    for j in range(2,10) :
        print(i, "X" , j ,"=", i * j)
    print() # 단마다 각각 띄워서 출력 가능함

2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81