<a href="https://colab.research.google.com/github/AnnJungChan/algorithm/blob/main/Python_basic/python_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기본 라이브러리

- 내장함수
- itertools : 순열과 조합 라이브러리, 반복되는 형테의 데이터 처리
- heapq : heap 기능 제공. 우선순위 큐 기능 구현
- bisect : 이진탐색 기능 제공
- collections : 덱, 카운터 등의 유용한 자료구조를 포함하고 있는 라이브러리
- math : 필수적인 수학적 기능을 제공하는 라이브러리, 팩토리얼, 제곱근, 최대공약수, 삼각함수, pi

# 내장함수

리스트 [1,2,3,4,5]의 모든 원소의 합을 반환하라.

In [1]:
result = sum([1,2,3,4,5])
print(result)

15

7,3,5,2중 가장 작은 값을 반환하라.

In [3]:
result = min(7,3,5,2)
print(result)

2

7,3,5,2 중 가장 큰 값을 반환하라.

In [4]:
result = max(7,3,5,2)
print(result)

7

문자형 수식 \\
"(3+5)*7" \\
을 계산하라.

In [7]:
result = eval("(3+5)*7")
print(result)

56

[9,1,8,5,4]에 대해서
- 오름차순 정렬하라
- 내림차순 정렬하라

In [11]:
data = [9,1,8,5,4]
print(sorted(data))
print(sorted(data,reverse = True))

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]

[('홍길동',35),('이순신',75),('아무개',50)] \\
에 대해서 숫자를 기준으로 내림차순으로 정렬하라.

In [15]:
data = [('홍길동',35),('이순신',75),('아무개',50)]
print(sorted(data, key = lambda x : x[1], reverse = True))

[('이순신', 75), ('아무개', 50), ('홍길동', 35)]

**리스트 안에 튜플이나 리스트로 구성된 데이터에 대해서는, key를 사용하여 특정 속성을 정렬 기준으로 정렬할 수 있다**

- key는 람다함수로 하나씩 빼서 정의한다.
- key = lambda x : x[1]

[9,1,8,5,4]에 대해서 \\
리스트 안의 내장함수로 오름차순 정렬하라.

In [19]:
data = [9,1,8,5,4]
data.sort()
print(data)

[1, 4, 5, 8, 9]

# itertools

- 반복되는 데이터를 처리하는 기능
- permutations, combinations를 주로 사용(순열, 조합)
- product : 중복 고려 수열(repeat = 뽑을 갯수)
- combinations_with_replacement : 중복 고려 조합

A, B, C에서 3개를 뽑아 순서를 고려하여 나열하는 모든 경우의 수

In [24]:
from itertools import permutations

data = ["A","B", "C"]

print(list(permutations(data,3)))

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

A, B, C에서 2개를 뽑아 순서를 고려하지 않고 나열하는 모든 경우의 수

In [25]:
from itertools import combinations

data = ["A", "B", "C"]

print(list(combinations(data,2)))

[('A', 'B'), ('A', 'C'), ('B', 'C')]

A, B, C에서 순서를 고려하여 원소를 중복하여 2개를 뽑아서 나열하는 모든 경우의 수

In [28]:
from itertools import product

data = ["A","B", "C"]

print(list(product(data,repeat = 2)))

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

A, B, C에서 순서를 고려하지 않고 원소를 중복하여 2개를 뽑아서 나열하는 모든 경우의 수

In [30]:
from itertools import combinations_with_replacement

data = ["A","B","C"]

print(list(combinations_with_replacement(data,2)))

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

# heapq

- 우선순위 큐 기능 구현
- 삽입 : heapq.heappush()
- 꺼냄 : heapq.heappop()
- 힙에 들어가면 숫자들의 순서는 무의미하게 되며, 오름차순으로 정렬된다.

힙정렬을 구현하고 \\
힙 정렬을 통해 [1,3,5,7,9,2,4,6,8,0]을 오름차순 정렬하라.

In [31]:
import heapq

In [40]:
def heapsort(iterable) :
    h = [] # 힙
    result = [] # 우리의 결과
    for value in iterable :
        heapq.heappush(h,value) # 힙에 값 넣기

    for _ in range(len(h)) :
        result.append(heapq.heappop(h)) # 힙에서 값 빼기
    return result

In [41]:
result = heapsort([1,3,5,7,9,2,4,6,8,0])
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

힙 정렬을 통해 [1,3,5,7,9,2,4,6,8,0]을 내림차순 정렬하라.

In [42]:
def heapsort(iterable) :
    h = []
    result = []
    for value in iterable :
        heapq.heappush(h, -value) # -를 사용하여 힙에 넣어주고
    for _ in range(len(h)) :
        result.append(-heapq.heappop(h)) # 값이 나올 때 -를 사용하여 다시 힙에 붙여준다. 그러면 내림차순 정렬이 된다.
    return result

In [43]:
result = heapsort([1,3,5,7,9,2,4,6,8,0])
print(result)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# bisect
- 이진탐색 구현 라이브러리
- 정렬된 배열에서 특정한 원소를 찾아야 할 때 매우 효과적
- bisect_left(a , x) : **정렬된 순서를 유지**하면서 *리스트 a*에 *데이터 x*를 삽입할 가장 왼쪽 인덱스를 찾는 메서드
- bisect_right(a, x) : **정렬된 순서를 유지**도록 *리스트 a*에 *데이터 x*를 삽입할 가장 오른쪽 인덱스를 찾는 메서드.

리스트 [1,2,4,4,8]에 새로운 숫자 4가 들어간다고 하자. \\
이 때, 4는 어디에 들어가야 리스트가 정렬된 순서를 유지하는가? \\
오른쪽과 왼쪽에서 접근했을 때, 모두 확인해보라.

In [44]:
from bisect import bisect_left, bisect_right

In [47]:
a = [1,2,4,4,8]
x = 4

print(bisect_left(a, x))
print(bisect_right(a, x))

2
4

리스트 [1,2,3,3,3,3,4,4,8,9] 에서 \\
1. 값이 4인 데이터의 갯수를 출력하고
2. 값이 -1,3 범위에 있는 데이터의 갯수를 출력하라
<br>
단, 이를 함수로 구현하라.

In [50]:
def count_range(value_list,start_value,end_value) :
    count=bisect_right(value_list,end_value)-bisect_left(value_list,start_value)
    return count

a = [1,2,3,3,3,3,4,4,8,9]

print(count_range(a,4,4))
print(count_range(a,-1,3))

2
6

In [51]:
def count_range(value_list,start_value,end_value) :
    left_value = bisect_left(value_list,start_value)
    right_value = bisect_right(value_list,end_value)
    return right_value- left_value

a = [1,2,3,3,3,3,4,4,8,9]

print(count_range(a,4,4))
print(count_range(a,-1,3))

2
6

# collections

- 유용한 자료구조를 제공하는 라이브러리
- deque : 큐를 구현, 리스트에서는 가장 앞쪽에 원소를 삭제하거나 삽입할 수 없기에, deque로 이를 구현하고 다시 리스트 형태로 전환시킴
  - 인덱싱, 슬라이싱 사용불가
  - 연속적으로 나열된 데이터의 시작 부분이나 끝 부분에 데이터를 삽입하거나 삭제할 때는 매우 효과적으로 사용됨.
  - popleft() : 가장 왼쪽 원소 제거, 첫번째 원소 제거
  - pop() : 가장 마지막 원소를 제거
  - appendleft(x) : 첫번째 인덱스에 원소 x 삽입
  - append(x) : 마지막 인덱스에 원소를 삽입
- counter : 등장 횟수를 세는 기능을 제공
  - iterable 객체 등장시 몇 번씩 등장했는지를 알려줌.
  - 원소별 등장 횟수를 세는 기능이 필요할 때, 짧은 소스코드로 구현 가능

리스트 [2,3,4]에 대해서
1. 가장 앞쪽에 1을 삽입하라
2. 가장 뒤에 5를 삽입하라
3. 가장 앞쪽 원소를 제거하라
4. 가장 뒤에 원소를 제거하라
<br>
각 절차마다 print() 할 것(이 때, list 형태의 output이 필요하다.)

In [53]:
from collections import deque

In [63]:
a = [2,3,4]
a=deque(a)

#1
a.appendleft(1)
print(list(a))

#2
a.append(5)
print(list(a))

#3
a.popleft()
print(list(a))

#4
a.pop()
print(list(a))

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3, 4]

리스트 ['red','blue','red','green', 'blue', 'blue'] 에 대해서, \\
1. blue는 몇번 등장했는가?
2. greeen은 몇번 등장했는가?
3. 각각의 등장 횟수를 사전의 형태로 만들어라

In [64]:
from collections import Counter

In [69]:
a = ['red','blue','red','green','blue','blue']

a = Counter(a)

print(a['blue'])
print(a['green'])
print(dict(a))

{'red': 2, 'blue': 3, 'green': 1}

# math

- 수학 계산을 요구하는 문제를 만났을 때 효과적으로 사용가능

5!을 출력하라

In [72]:
import math
print(math.factorial(5))

120

7의 제곱근을 출력하라

In [73]:
import math
print(math.sqrt(7))

2.6457513110645907

21과 14의 최대공약수는?

In [75]:
import math
print(math.gcd(21,14))

7

pi와 자연상수 e를 출력하라

In [76]:
import math
print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045